* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #ffb26b;
    color: #564a4a;
    font-family: "Open Sans", sans-serif;
  }

  h2 {
    color: #939b62;
    font-family: "Sofia", cursive;
    font-size: 15px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  a {
    color: #939b62;
    text-decoration: none;
  }
  
  .login {
    width: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -175px;
  }
  
  input[type="text"], input[type="number"] {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #939b62;
    outline: none;
    color: #564a4a;
    font-size: 18px;
  }
  input[type=checkbox] {
    display: none;
  }
  
  .selectBox {
      background: #ffb26b;
      font-size: 16px;
      color: #564a4a;
      width: 100%;
      height: 30px;
  }
  
  .files {
      background: #ffb26b;
      color: #564a4a;
      margin-bottom: 20px;
      width: 100%;
      height: 30px;
      
  }
  label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #ffb26b;
  }
  
  #agree:checked ~ label[for=agree] {
    background: #ffb26b;
  }
  
  input[type="submit"] {
    
    background: #656b40;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background: #939b62;
  }
  
  .forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }
  .forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6D7781;
  }
  
  .agree {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }
  
  ::-webkit-input-placeholder {
    color: #564a4a;
    font-size: 16px;
  }
  
  .animated {
    animation-fill-mode: both;
    animation-duration: 1s;
  }  